.listMovieContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topMovieContainer {
    width: 90%;
    display: flex;
    margin-bottom: -20px;
}

.listMoviesBox {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 254, 247);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.listMoviesBox > h1 {
    margin: 40px;
}